@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #fff;

}



.left {
    background: url(static/images/avatar.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    clip-path: polygon(0 0, 68% 0, 100% 49%, 64% 100%, 0 100%);
    
}

.left .filtro {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}

.right
{
    
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.right form{

    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    width: 75%;
    padding: 10px 15px;
    margin-top: 110px;
    box-shadow: 0px 10px 40px #00000056;
    
    
    
 }
 
 .right h1 {
     font-size: 32px;
     position: absolute;
     top: 0;
     margin: 86px 0 60px 0;
     color: #221E22;
     text-transform: uppercase;
     line-height: 28px;
     font-weight: 900;
     
     
 
 }
 
 .txt-red {
     color: rgb(218, 16, 16);
     margin-left: 70px;
 }
 
 .right form .quest {
     margin: 8px 20px;
     display: flex;
     flex-direction: column;
     
 }
 
 .right form .quest span {
     font-size: 15px;
     font-weight: 600;
 }
 
 .right form .quest input {
     padding: 5px 15px;
     font-size: 15px;
     margin-top: 12px;
 
 }
 
 .right form a {
     background-color: rgb(197, 14, 14);
     padding: 12px 0;
     text-align: center;
     text-decoration: none;
     color: #fff;
     font-size: 17px;
     margin: 15px;
 }